.Box {
  background-color: #A5D76E;
  width: 26px;
  height: 26px;
  border-radius: 6px;
  margin-right: 5px;
}

.ListItemContainer {
  display: flex;
  padding: 10px;
  margin: 5px auto auto 5px;
  font-size: 2.5vmin;
  border: 2px whitesmoke dotted;
}

.TaskHeading{
  font-weight: 600;
  margin-right: 1vmin;
}

.TaskDescription {
  font-weight: 400;
}
