.App {
  text-align: center;
}

.App-header {
  width: 100%;
  padding-top: 2vmin;
  padding-bottom: 2vmin;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Container-style {
  border-top: 1px white;
  color: white;
  width: 50vmin;
  margin-left: auto;
  margin-right: auto;
}

li {
  color: red;
}
